body {
  margin:0px;
  background-color:rgba(246, 246, 246, 1);
  background-image:none;
  position:relative;
  left:-100px;
  width:660px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3309 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:50px;
  width:660px;
  height:785px;
}
#u3310_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:55px;
}
#u3310 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:55px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u3310 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u3310_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3311_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:55px;
}
#u3311 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:0px;
  width:280px;
  height:55px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u3311 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u3311_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3312_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:730px;
}
#u3312 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:55px;
  width:380px;
  height:730px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u3312 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u3312_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3313_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:730px;
}
#u3313 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:55px;
  width:280px;
  height:730px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u3313 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u3313_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3314_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0099FF;
}
#u3314 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:125px;
  width:80px;
  height:35px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0099FF;
}
#u3314 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3314_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3315_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3315 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:185px;
  width:80px;
  height:35px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3315 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3315_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3316_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3316 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:545px;
  width:80px;
  height:35px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3316 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3316_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3317_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3317 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:350px;
  width:80px;
  height:35px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3317 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3317_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3318_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u3318 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:605px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3318 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3318_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3319_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0099FF;
}
#u3319 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:770px;
  width:80px;
  height:35px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0099FF;
}
#u3319 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3319_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3320_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3320 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:710px;
  width:80px;
  height:35px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3320 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3320_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3321_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3321 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:410px;
  width:80px;
  height:35px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3321 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3321_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3322_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3322 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:470px;
  width:80px;
  height:35px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3322 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3322_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3323 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:385px;
  width:0px;
  height:0px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3323_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:30px;
}
#u3323_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:12px;
  width:18px;
  height:19px;
}
#u3323_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:4px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3324 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:445px;
  width:0px;
  height:0px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3324_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:30px;
}
#u3324_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:12px;
  width:18px;
  height:19px;
}
#u3324_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:4px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3325_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3325 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:470px;
  width:80px;
  height:35px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3325 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3325_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3326 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:488px;
  width:0px;
  height:0px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3326_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:242px;
  height:10px;
}
#u3326_seg1 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:-9px;
  width:19px;
  height:18px;
}
#u3326_text {
  border-width:0px;
  position:absolute;
  left:68px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3327 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:563px;
  width:0px;
  height:0px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3327_seg0 {
  border-width:0px;
  position:absolute;
  left:-237px;
  top:-5px;
  width:242px;
  height:10px;
}
#u3327_seg1 {
  border-width:0px;
  position:absolute;
  left:-243px;
  top:-9px;
  width:19px;
  height:18px;
}
#u3327_text {
  border-width:0px;
  position:absolute;
  left:-168px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3328_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3328 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:545px;
  width:80px;
  height:35px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3328 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3328_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3329 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:635px;
  width:0px;
  height:0px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3329_seg0 {
  border-width:0px;
  position:absolute;
  left:-62px;
  top:-5px;
  width:62px;
  height:10px;
}
#u3329_seg1 {
  border-width:0px;
  position:absolute;
  left:-62px;
  top:-5px;
  width:10px;
  height:163px;
}
#u3329_seg2 {
  border-width:0px;
  position:absolute;
  left:-62px;
  top:148px;
  width:72px;
  height:10px;
}
#u3329_seg3 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:144px;
  width:19px;
  height:18px;
}
#u3329_text {
  border-width:0px;
  position:absolute;
  left:-107px;
  top:71px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3330 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:580px;
  width:0px;
  height:0px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3330_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:30px;
}
#u3330_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:12px;
  width:18px;
  height:19px;
}
#u3330_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:4px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3331_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u3331 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:245px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3331 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3331_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3332 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:220px;
  width:0px;
  height:0px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3332_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:30px;
}
#u3332_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:12px;
  width:18px;
  height:19px;
}
#u3332_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:4px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3333 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:305px;
  width:0px;
  height:0px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3333_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:50px;
}
#u3333_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:32px;
  width:18px;
  height:19px;
}
#u3333_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3334 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:275px;
  width:0px;
  height:0px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3334_seg0 {
  border-width:0px;
  position:absolute;
  left:-62px;
  top:-5px;
  width:62px;
  height:10px;
}
#u3334_seg1 {
  border-width:0px;
  position:absolute;
  left:-62px;
  top:-5px;
  width:10px;
  height:163px;
}
#u3334_seg2 {
  border-width:0px;
  position:absolute;
  left:-62px;
  top:148px;
  width:72px;
  height:10px;
}
#u3334_seg3 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:144px;
  width:19px;
  height:18px;
}
#u3334_text {
  border-width:0px;
  position:absolute;
  left:-107px;
  top:71px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3335 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:160px;
  width:0px;
  height:0px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3335_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:30px;
}
#u3335_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:12px;
  width:18px;
  height:19px;
}
#u3335_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:4px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3336 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:665px;
  width:0px;
  height:0px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3336_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:50px;
}
#u3336_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:32px;
  width:18px;
  height:19px;
}
#u3336_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3337 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:745px;
  width:0px;
  height:0px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3337_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:30px;
}
#u3337_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:12px;
  width:18px;
  height:19px;
}
#u3337_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:4px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3338 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:505px;
  width:0px;
  height:0px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3338_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:45px;
}
#u3338_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:27px;
  width:18px;
  height:19px;
}
#u3338_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
