body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:url('../../images/产品定位/bg.jpg');
  background-position:center bottom;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
  background-origin:border-box;
  position:relative;
  left:0px;
  width:1149px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3801 {
  position:fixed;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u3801_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(102, 102, 102, 0.749019607843137);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3801_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3802 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3803_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:128px;
  background:-webkit-linear-gradient(315deg, rgba(255, 102, 204, 1) 0%, rgba(255, 102, 204, 1) 0%, rgba(153, 0, 255, 1) 57%, rgba(0, 102, 255, 1) 100%, rgba(0, 102, 255, 1) 100%);
  background:-moz-linear-gradient(135deg, rgba(255, 102, 204, 1) 0%, rgba(255, 102, 204, 1) 0%, rgba(153, 0, 255, 1) 57%, rgba(0, 102, 255, 1) 100%, rgba(0, 102, 255, 1) 100%);
  background:linear-gradient(135deg, rgba(255, 102, 204, 1) 0%, rgba(255, 102, 204, 1) 0%, rgba(153, 0, 255, 1) 57%, rgba(0, 102, 255, 1) 100%, rgba(0, 102, 255, 1) 100%);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:rgba(255, 255, 255, 0.949019607843137);
}
#u3803 {
  border-width:0px;
  position:absolute;
  left:1021px;
  top:110px;
  width:128px;
  height:128px;
  display:flex;
  font-size:16px;
  color:rgba(255, 255, 255, 0.949019607843137);
}
#u3803 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3803_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3804 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3805_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:70px;
}
#u3805 {
  border-width:0px;
  position:absolute;
  left:1048px;
  top:139px;
  width:75px;
  height:70px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#E6E6E6;
}
#u3805 .text {
  position:absolute;
  align-self:center;
  padding:2px 6px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u3805_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3806_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:21px;
}
#u3806 {
  border-width:0px;
  position:absolute;
  left:1066px;
  top:159px;
  width:39px;
  height:21px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#E6E6E6;
}
#u3806 .text {
  position:absolute;
  align-self:center;
  padding:2px 6px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u3806_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3807 {
  position:fixed;
  left:50%;
  margin-left:-330px;
  top:50%;
  margin-top:-237.5px;
}
#u3807_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:660px;
  height:405px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3807_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3808_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:680px;
  height:425px;
}
#u3808 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:405px;
  display:flex;
  opacity:0.95;
}
#u3808 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3808_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3809 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3810_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  line-height:45px;
}
#u3810 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:75px;
  width:368px;
  height:90px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  line-height:45px;
}
#u3810 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3810_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3811_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  line-height:45px;
}
#u3811 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:205px;
  width:338px;
  height:90px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  line-height:45px;
}
#u3811 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3811_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3812 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3813_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u3813 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:215px;
  width:72px;
  height:45px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u3813 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3813_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3814_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:-webkit-linear-gradient(315deg, rgba(255, 102, 204, 1) 0%, rgba(255, 102, 204, 1) 0%, rgba(153, 0, 255, 1) 57%, rgba(0, 102, 255, 1) 100%, rgba(0, 102, 255, 1) 100%);
  background:-moz-linear-gradient(135deg, rgba(255, 102, 204, 1) 0%, rgba(255, 102, 204, 1) 0%, rgba(153, 0, 255, 1) 57%, rgba(0, 102, 255, 1) 100%, rgba(0, 102, 255, 1) 100%);
  background:linear-gradient(135deg, rgba(255, 102, 204, 1) 0%, rgba(255, 102, 204, 1) 0%, rgba(153, 0, 255, 1) 57%, rgba(0, 102, 255, 1) 100%, rgba(0, 102, 255, 1) 100%);
  border:none;
  border-radius:18px;
  -moz-box-shadow:0px 2px 5px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 2px 5px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 2px 5px rgba(0, 0, 0, 0.149019607843137);
  font-size:16px;
  color:rgba(255, 255, 255, 0.949019607843137);
}
#u3814 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:132px;
  width:80px;
  height:80px;
  display:flex;
  font-size:16px;
  color:rgba(255, 255, 255, 0.949019607843137);
}
#u3814 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3814_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3815 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3816_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:35px;
}
#u3816 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:160px;
  width:42px;
  height:35px;
  display:flex;
}
#u3816 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3816_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3817_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u3817 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:149px;
  width:19px;
  height:20px;
  display:flex;
}
#u3817 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3817_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3818_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:361px;
}
#u3818 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:26px;
  width:70px;
  height:361px;
  display:flex;
  opacity:0.95;
}
#u3818 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3818_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3819_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:361px;
}
#u3819 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:26px;
  width:70px;
  height:361px;
  display:flex;
  opacity:0.95;
}
#u3819 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3819_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3820_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:361px;
}
#u3820 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:26px;
  width:70px;
  height:361px;
  display:flex;
  opacity:0.95;
}
#u3820 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3820_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
