body {
  margin:0px;
  background-color:rgba(246, 246, 246, 1);
  background-image:none;
  position:static;
  left:auto;
  width:890px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3580 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:0px;
  width:600px;
  height:500px;
}
#u3580_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:500px;
  overflow:auto;
}
#u3581 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:800px;
}
#u3581_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:800px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-color:rgba(238, 238, 238, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3581_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u3583 {
  position:absolute;
  left:0px;
  top:0px;
}
.u3583_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u3583_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u3584_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(230, 230, 230, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
.u3584 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
.u3584 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 45px;
  box-sizing:border-box;
  width:100%;
}
.u3584_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u3585_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
.u3585 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:16px;
  width:18px;
  height:18px;
  display:flex;
}
.u3585 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u3585_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u3583_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:300px;
  height:45px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
.u3583_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u3586 {
  position:absolute;
  left:0px;
  top:0px;
}
.u3586_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:300px;
  height:45px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u3586_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u3587_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
.u3587 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:45px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
.u3587 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 45px;
  box-sizing:border-box;
  width:100%;
}
.u3587_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
.u3587.mouseOver {
}
.u3587_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:45px;
  background:inherit;
  background-color:rgba(246, 246, 246, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(230, 230, 230, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
.u3587.selected {
}
.u3587_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u3588 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
.u3588_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u3588_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u3589_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:4px;
}
.u3589 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:21px;
  width:6px;
  height:4px;
  display:flex;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
.u3589 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u3589_img.selected {
}
.u3589.selected {
}
.u3589_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u3588_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
.u3588_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u3590_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:4px;
}
.u3590 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:21px;
  width:6px;
  height:4px;
  display:flex;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
.u3590 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u3590_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3582-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
}
#u3582-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:300px;
  height:50px;
}
#u3582-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:300px;
  height:50px;
}
#u3582-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:300px;
  height:50px;
}
#u3582-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:300px;
  height:50px;
}
#u3582-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:250px;
  width:300px;
  height:50px;
}
#u3582-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:300px;
  width:300px;
  height:50px;
}
#u3582-8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:350px;
  width:300px;
  height:50px;
}
#u3582-9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:400px;
  width:300px;
  height:50px;
}
#u3582-10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:450px;
  width:300px;
  height:50px;
}
#u3582-11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:500px;
  width:300px;
  height:50px;
}
#u3582-12 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:550px;
  width:300px;
  height:50px;
}
#u3582-13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:600px;
  width:300px;
  height:50px;
}
#u3582-14 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:650px;
  width:300px;
  height:50px;
}
#u3582 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:735px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
