body {
  margin:0px;
  background-color:rgba(246, 246, 246, 1);
  background-image:none;
  position:static;
  left:auto;
  width:890px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3041 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:0px;
  width:600px;
  height:500px;
}
#u3041_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:500px;
  overflow:auto;
}
#u3042 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:800px;
}
#u3042_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:800px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-color:rgba(238, 238, 238, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3042_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u3044 {
  position:absolute;
  left:0px;
  top:0px;
}
.u3044_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u3044_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u3045_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(230, 230, 230, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
.u3045 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
.u3045 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 45px;
  box-sizing:border-box;
  width:100%;
}
.u3045_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u3046_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
.u3046 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:16px;
  width:18px;
  height:18px;
  display:flex;
}
.u3046 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u3046_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u3044_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:300px;
  height:45px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
.u3044_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u3047 {
  position:absolute;
  left:0px;
  top:0px;
}
.u3047_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:300px;
  height:45px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u3047_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u3048_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
.u3048 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:45px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
.u3048 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 45px;
  box-sizing:border-box;
  width:100%;
}
.u3048_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
.u3048.mouseOver {
}
.u3048_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:45px;
  background:inherit;
  background-color:rgba(246, 246, 246, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(230, 230, 230, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
.u3048.selected {
}
.u3048_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u3049 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
.u3049_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u3049_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u3050_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:4px;
}
.u3050 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:21px;
  width:6px;
  height:4px;
  display:flex;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
.u3050 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u3050_img.selected {
}
.u3050.selected {
}
.u3050_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u3049_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
.u3049_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u3051_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:4px;
}
.u3051 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:21px;
  width:6px;
  height:4px;
  display:flex;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
.u3051 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u3051_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3043-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
}
#u3043-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:300px;
  height:50px;
}
#u3043-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:300px;
  height:50px;
}
#u3043-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:300px;
  height:50px;
}
#u3043-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:300px;
  height:50px;
}
#u3043-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:250px;
  width:300px;
  height:50px;
}
#u3043-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:300px;
  width:300px;
  height:50px;
}
#u3043-8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:350px;
  width:300px;
  height:50px;
}
#u3043-9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:400px;
  width:300px;
  height:50px;
}
#u3043-10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:450px;
  width:300px;
  height:50px;
}
#u3043-11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:500px;
  width:300px;
  height:50px;
}
#u3043-12 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:550px;
  width:300px;
  height:50px;
}
#u3043-13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:600px;
  width:300px;
  height:50px;
}
#u3043-14 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:650px;
  width:300px;
  height:50px;
}
#u3043 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:735px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
