body {
  margin:0px;
  background-color:rgba(246, 246, 246, 1);
  background-image:none;
  position:relative;
  left:-100px;
  width:1000px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3699_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:425px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px 2px 5px rgba(0, 0, 0, 0.0196078431372549);
  -webkit-box-shadow:0px 2px 5px rgba(0, 0, 0, 0.0196078431372549);
  box-shadow:0px 2px 5px rgba(0, 0, 0, 0.0196078431372549);
}
#u3699 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:80px;
  width:1000px;
  height:425px;
  display:flex;
}
#u3699 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3699_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3700_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:635px;
  height:75px;
  background:inherit;
  background-color:rgba(250, 251, 252, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FF0000;
}
#u3700 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:305px;
  width:635px;
  height:75px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FF0000;
}
#u3700 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 15px;
  box-sizing:border-box;
  width:100%;
}
#u3700_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3701_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 42, 58, 1);
  border-right:0px;
  border-radius:3px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u3701 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:205px;
  width:500px;
  height:65px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u3701 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3701_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3702_input {
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  height:45px;
  padding:2px 2px 2px 2px;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u3702_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  height:45px;
  padding:2px 2px 2px 2px;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u3702_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#333333;
}
#u3702 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:215px;
  width:475px;
  height:45px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#333333;
}
#u3702 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3702_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  height:45px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#333333;
}
#u3702.disabled {
}
#u3703_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 42, 58, 1);
  border:none;
  border-radius:3px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3703 {
  border-width:0px;
  position:absolute;
  left:675px;
  top:205px;
  width:135px;
  height:65px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3703 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3703_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 42, 58, 1);
  border:none;
  border-radius:3px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3703.mouseDown {
  opacity:0.8;
}
#u3703_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:65px;
  background:inherit;
  background-color:rgba(214, 214, 214, 1);
  border:none;
  border-radius:3px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3703.disabled {
}
#u3703_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3704_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#0099FF;
}
#u3704 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:120px;
  width:700px;
  height:63px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#0099FF;
}
#u3704 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 25px;
  box-sizing:border-box;
  width:100%;
}
#u3704_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3705 {
  position:fixed;
  left:50%;
  margin-left:-117.5px;
  top:125px;
  visibility:hidden;
}
#u3705_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:235px;
  height:108px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3705_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3706_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:108px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3706 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:108px;
  display:flex;
  opacity:0.8;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3706 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3706_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3707_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:center;
  line-height:30px;
}
#u3707 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:39px;
  width:235px;
  height:30px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:center;
  line-height:30px;
}
#u3707 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3707_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3708_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:205px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:0px 2px 5px rgba(0, 0, 0, 0.0196078431372549);
  -webkit-box-shadow:0px 2px 5px rgba(0, 0, 0, 0.0196078431372549);
  box-shadow:0px 2px 5px rgba(0, 0, 0, 0.0196078431372549);
}
#u3708 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:506px;
  width:1000px;
  height:205px;
  display:flex;
}
#u3708 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3708_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3709_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#666666;
  line-height:40px;
}
#u3709 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:536px;
  width:375px;
  height:65px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#666666;
  line-height:40px;
}
#u3709 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 25px;
  box-sizing:border-box;
  width:100%;
}
#u3709_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3710_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:30px;
}
#u3710 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:601px;
  width:57px;
  height:30px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:30px;
}
#u3710 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 25px;
  box-sizing:border-box;
  width:100%;
}
#u3710_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3711_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:30px;
}
#u3711 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:601px;
  width:320px;
  height:30px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:30px;
}
#u3711 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3711_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
